<div class="issues-container container">
    <h2 class="page-title">Assigned Issues</h2>
  
    <div *ngFor="let issue of issues" class="issue-card">
      <div class="image-section" *ngIf="issue.images?.length">
        <img [src]="'https://civix.runasp.net/'+ issue.images[0]" alt="Issue Image" class="issue-img" />
      </div>
  
      <div class="issue-info">
        <h3>{{ issue.title || issue.category }}</h3>
        <p><strong>Priority:</strong> {{ issue.priority }}</p>
        <p><strong>Description:</strong> {{ issue.description }}</p>
        <p><strong>Coordinates:</strong> {{ issue.latitude }}, {{ issue.longitude }}</p>
        <p><strong>Reported By:</strong> {{ issue.createdById }}</p>
        <p><strong>Date:</strong> {{ issue.createdOn | date:'fullDate' }}</p>
        <a [href]="'https://maps.google.com/maps?q=' + issue.latitude + ',' + issue.longitude" target="_blank">
          View on Map
        </a>
        <button (click)="viewIssue(issue.id)">Go To Issue Page</button>
        <!-- Hello -->
      </div>
    </div>
  </div>
  