.card {
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

p-table {
    width: 100%;
}

img {
    border-radius: 5px;
    object-fit: cover;
}
