<div class="issueContainer">
    <div class="container-fluid">
        <div class="row">
        <div class=" bgshadow issueCard col-lg-6 col-12">
            <img src="assets/Background.png" alt="" >
            <p class="fw-bold">Issue Id: {{issue.id}} </p>
            <p>Category: {{issue.category}}</p>
            <p>Priority: {{issue.priority}} </p>
            <p>Description: </p>
            <p>Date: </p>
            <p>Time: </p>
            <p>Reported By: </p>
        </div>

        <div class="col-lg-6 col-12 ps-lg-2 ">
            <div class="bgshadow ">
    
                <div id="map" >
                    
                </div>  
            </div>
        </div>
        
    </div>
    </div>
</div>