<div class="issueContainer">
    <p-toast></p-toast>

    <div class="container-fluid">
        <div class="row justify-content-between">
        <div class=" bgshadow issueCard col-lg-6 col-12 " *ngIf="issue">
            
            <p-carousel 
            class="w-100" *ngIf="issue.images && issue.images.length > 1"
                [value]="issue.images"
                [numVisible]="1"
                [numScroll]="1"
                >
        <ng-template pTemplate="item" let-imageUrl>
            <div class="clickable-img-wrapper" (click)="openFullScreen(imageUrl)">
                <img #carouselImg [src]="imageUrl" class="carousel-img clickable-img" alt="Issue Image">
                <div class="hover-overlay">
                    <i class="pi pi-search"></i>
                    <span class="hover-text">View Full Image</span>
                </div>
            </div>
        </ng-template>
    </p-carousel>

    <div class="clickable-img-wrapper" *ngIf="issue.images?.length === 1" (click)="openFullScreen(issue.images[0])">
        <img [src]="issue.images[0]" class="carousel-img clickable-img" alt="Issue Image">
        <div class="hover-overlay">
            <i class="pi pi-search"></i>
            <span class="hover-text">View Full Image</span>
        </div>
    </div>


            <p class="fw-bold">Issue Id: {{ issue?.id }} </p>
            <p> <span class="fw-bold"> Address :</span> {{issue.address}}</p>
            <p><span class="fw-bold"> Latitude :</span>{{issue.latitude }} ,<span class="fw-bold"> Longitude :</span> {{issue.longitude}} </p>
            <p><span><a href="http://maps.google.com/maps?q={{issue.latitude}},{{issue.longitude}}" target="_blank"> Go To Location </a></span> </p>
            <p> <span class="fw-bold">Category:</span> {{ issue?.category }}</p>
            <p> <span class="fw-bold">Priority:</span> {{ issue?.priority }} </p>
            <p> <span class="fw-bold">Description:</span> {{ issue?.description }}</p>
            <p> <span class="fw-bold">Date:</span> {{ issue?.createdOn | date: 'fullDate' }}</p>
            <p> <span class="fw-bold">Time:</span> {{ issue?.createdOn | date: 'shortTime' }}</p>
            <p> <span class="fw-bold">Reported By:</span> {{ issue?.createdById }}</p>
        </div>

        <div class=" bgshadow issueCard col-lg-6 col-12 " *ngIf="issue">
            
            <p-carousel 
            class="w-100" *ngIf="issue.images && issue.images.length > 1"
                [value]="issue.images"
                [numVisible]="1"
                [numScroll]="1"
                >
        <ng-template pTemplate="item" let-imageUrl>
            <div class="clickable-img-wrapper" (click)="openFullScreen(imageUrl)">
                <img #carouselImg [src]="imageUrl" class="carousel-img clickable-img" alt="Issue Image">
                <div class="hover-overlay">
                    <i class="pi pi-search"></i>
                    <span class="hover-text">View Full Image</span>
                </div>
            </div>
        </ng-template>
    </p-carousel>

    <div class="clickable-img-wrapper" *ngIf="issue.images?.length === 1" (click)="openFullScreen(issue.images[0])">
        <img [src]="issue.images[0]" class="carousel-img clickable-img" alt="Issue Image">
        <div class="hover-overlay">
            <i class="pi pi-search"></i>
            <span class="hover-text">View Full Image</span>
        </div>
    </div>


            <p class="fw-bold">Issue Id: {{ issue?.id }} </p>
            <p> <span class="fw-bold"> Address :</span> {{issue.address}}</p>
            <p><span class="fw-bold"> Latitude :</span>{{issue.latitude }} ,<span class="fw-bold"> Longitude :</span> {{issue.longitude}} </p>
            <p><span><a href="http://maps.google.com/maps?q={{issue.latitude}},{{issue.longitude}}" target="_blank"> Go To Location </a></span> </p>
            <p> <span class="fw-bold">Category:</span> {{ issue?.category }}</p>
            <div class="btnContainer d-flex align-items-center justify-content-around w-100 mb-4">
                <button class="assignBtn" (click)="toggleTeamPopup()">Assign Issue</button>
                <button class="updateBtn" (click)="toggleTeamPopup()">Update Status</button>
                <button class="deleteBtn" (click)="toggleTeamPopup()">Delete Issue</button>
            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-lg-10 col-12  ">
                <div class="bgshadow ">
        
                    <div id="map" >
                        
                    </div>  
                </div>

            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-around">

            </div>
        </div>    
         
        
        
        </div>
    </div>
</div>

<div class="fullscreen-overlay" *ngIf="fullscreenImage" (click)="closeFullScreen()">
    <div class="fullscreen-content">
        <button class="close-btn" (click)="closeFullScreen($event)">&times;</button>
        <img [src]="fullscreenImage" class="fullscreen-img">
        <div class="hover-overlay">
            <i class="pi pi-search"></i>
            <span class="hover-text">View Full Image</span>
        </div>
    </div>
</div>

<p-dialog header="Assign to Fixing Team" [(visible)]="showTeamPopup" modal="true" class="team-dialog">
    <ng-container *ngIf="fixingTeams.length; else loadingOrError">
        <div *ngFor="let team of fixingTeams" class="team-card">
            <h4 class="mb-1">{{ team.category }}</h4>
            <p class="mb-1"><span class="fw-bold">Leader :</span> {{ team.teamLeaderName }} ({{ team.teamLeaderEmail }})</p>
            <p class="mb-1"><span class="fw-bold">Members :</span></p>
            <ul class="mb-1">
                <li *ngFor="let member of team.teamMembers">
                    {{ member.name }} - {{ member.jobTitle }} ({{ member.age }} y/o)
                </li>
            </ul>
            <button class="assignBtn" (click)="assignToTeam(team.id)">Assign This Team</button>
        </div>
    </ng-container>
    <ng-template #loadingOrError>
        <p>Loading teams or something went wrong.</p>
    </ng-template>
</p-dialog>
