<div class="loginContainer">
    <div class="logo">
        <img src="../../../assets/civix_ 1.png"  alt="">
    </div>
    <div class="loginForm">
        <p>Welcome Back!👋</p>
        <h4>Login to your account</h4>
        <form [formGroup]="loginForm" action="">
            <div class="formInput">
                <input 
                type="email"
                name="email"
                id="email"
                formControlName="email" 
                placeholder="Email">
            </div>

            <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="ErrorMsg">
              
              <p *ngIf="loginForm.get('email')?.getError('required')">Email is required</p>
              <p *ngIf="loginForm.get('email')?.getError('email')">Email Not Valid</p>
              
            </div>

            <div class="passInput">
                <input 
                [type]="showPassword ? 'text' : 'password'" 
                name="password"
                id="password"
                formControlName="password" 
                placeholder="Password">
                <span role="button" class="eye-icon" (click)="togglePasswordVisibility()">
                    <i [class]="showPassword ? 'fa-regular fa-eye-slash' : 'fa-regular fa-eye'"></i>
                  </span >
            </div>

            <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="ErrorMsg">
              
              <p *ngIf="loginForm.get('password')?.getError('required')">Password is required</p>

              
            </div>
               
            <span role="button" (click)="openDialog()">Forgot Password?</span>
            <button id="loginBtn" type="button" class="primaryButton" (click)="handleLogin()">Login</button>
            <div *ngIf="isDialogOpen" class="dialog">
                <div class="dialog-content">
                  <i class="fa-solid fa-triangle-exclamation"></i>
                  <p>If you've forgotten your password,<br> please contact your local IT person for assistance.</p>
                  
                  <button (click)="closeDialog()" class="close-dialog">
                    <a class="text-decoration-none text-white" href="mailto:support@civix.com" target="_blank">Contact IT</a>
                  </button>
                </div>
              </div>
              <div class="errorMsg" *ngIf="errorMsg"><i class="fa-solid fa-triangle-exclamation d-inline"></i><p id="errorMsg" class=" d-inline ms-1">{{ errorMsg}}</p></div>
              
        </form>
    </div>
</div>