<div class="overview-container">
    <div class="container-fluid card-container">
        <div class="row w-100 justify-content-between bgshadow ">
        <div class="col-lg-3 col-md-6 col-12 p-2">
            <div class="card ">
                <div class="card-heading">
                    <p>Problems</p>
                    <!-- <i class="pi pi-flag-fill"></i> -->
                </div>
                <p class="card-num">18</p>
                <p class="card-footing"> <span>2</span> Completed </p>
            </div>
        </div>
           <div class="col-lg-3 col-md-6 col-12 p-2">
            
        <div class="card bg-mc ">
            <div class="card-heading">
                <p>Active Problems</p>
                <!-- <i class="pi pi-flag-fill"></i> -->
            </div>
            <p class="card-num">132</p>
            <p class="card-footing"> <span>28</span> Completed </p>

        </div>
    </div>
    <div class=" col-lg-3 col-md-6 col-12 p-2">
        <div class="card">
            <div class="card-heading">
                <p>Fixing Teams</p>
                <!-- <i class="pi pi-flag-fill"></i> -->
            </div>
            <p class="card-num">12</p>
            <p class="card-footing"> <span>1</span> Currently Away </p>

        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 p-2">
        <div class="card bg-mc">
            <div class="card-heading">
                <p>Productivity</p>
                <!-- <i class="pi pi-flag-fill"></i> -->
            </div>
            <p class="card-num">76%</p>
            <p class="card-footing"> <span>5%</span> Completed </p>

        </div>
    </div>
        </div>
    </div>
    <div class="table-map-container container-fluid">
        <div class=" row w-100">
            <div class=" col-lg-7  pe-lg-2 mb-md-3">
                <div class="Emp-table bgshadow ">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Category</th>
                            <th scope="col">Location</th>
                            <th scope="col">Status</th>
                            <th scope="col">Priority</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let issue of issues , let i = index" (click)="viewIssue(issue.id)" class="tableHover" >
                            <th scope="row">{{i+1 }}</th>
                            <td>{{ issue.category }}</td>
                            <td>{{ issue.address ? issue.address : 'Loading...'}}</td>
                            <td>{{ issue.status }}</td>
                            <td [class]="getPriorityClass(issue.priority)">{{ issue.priority }}</td>
                          </tr>
                        
                        </tbody>
                      </table> 
                </div>
            </div>
        
            <div class="col-lg-5  ps-lg-2 ">
                <div class="bgshadow ">
        
                    <div id="map" class="">
            
                    </div>  
                </div>
            </div>
        
    </div>
    </div>
</div>




