<div class="overview-container">
    <div class="card-container">
        <div class="card ">
            <div class="card-heading">
                <p>Problems</p>
                <i class="pi pi-flag-fill"></i>
            </div>
            <p class="card-num">18</p>
            <p class="card-footing"> <span>2</span> Completed </p>

        </div>
        <div class="card bg-mc ">
            <div class="card-heading">
                <p>Active Problems</p>
                <i class="pi pi-flag-fill"></i>
            </div>
            <p class="card-num">132</p>
            <p class="card-footing"> <span>28</span> Completed </p>

        </div>
        <div class="card ">
            <div class="card-heading">
                <p>Fixing Teams</p>
                <i class="pi pi-flag-fill"></i>
            </div>
            <p class="card-num">12</p>
            <p class="card-footing"> <span>1</span> Currently Away </p>

        </div>
        <div class="card bg-mc">
            <div class="card-heading">
                <p>Productivity</p>
                <i class="pi pi-flag-fill"></i>
            </div>
            <p class="card-num">76%</p>
            <p class="card-footing"> <span>5%</span> Completed </p>

        </div>
    </div>
    <div class="table-map-container">
        <div class="Emp-table">

        </div>
        <div id="map">

        </div>
    </div>
</div>