@import '../../../../../styles.scss';


.container-fluid {
  max-width: 100%;  /* Prevents stretching */
  overflow-x: hidden; /* Hides horizontal scrolling */
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100%;
}



.card-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
}
.card{
  border-radius: 10px;
  transition: 0.3s;
  // width: 21%;
  background-color: #85D2FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border: none;
  p{
      margin: 0px;
  }
}
.card-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: transparent;
  border: none;
  padding: 10px 10px 0px 15px;
  i{
      border-radius: 10%;
      padding: 10px;
      border: 1px solid #E0DCFE;
      background: #E0DCFE;
      color: $secondary-Color;
  }
  
}
.card-num{
  font-size: 3rem;
  font-weight: 600;
  padding-left: 15px;
  
}
.card-footing{
  padding-left: 15px;
  padding-bottom: 15px;
  font-size: 0.8rem;
  span{
      font-size: 1.2rem;
      font-weight: 600;   
  }
}

.bg-mc{
  background-color: $secondary-Color;
  p{
      color: white;
  }
  i{
      color: $secondary-Color;
  }
}





p-chart canvas {
    width: 100% !important;
    height: 230px !important;
  }

  

  .doughnutChartDiv, .barChartDiv {
    background-color: #2A2A72;
    color: white;
    border-radius: 10px;
    padding: 20px;
  }


  .container .row {
    display: flex;
    justify-content: space-between;
  }


  .card-container, .doughnutChartDiv, .barChartDiv {
    max-width: 100%; /* Ensures they don’t stretch beyond screen */
    overflow: hidden;
  }
  