

<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-md-5 doughnutChartDiv">
            <h4>Task Performance</h4>
            <p-chart type="doughnut" [data]="doughnutChartData" [options]="DoughnutChartOptions"></p-chart>
        </div>

        <div class="col-md-6 barChartDiv">
            <h4>Priority Distribution</h4>
            <p>Total Issues : 5,623 </p>
            <p-chart type="bar" [data]="barChartData" [options]="barChartOptions"></p-chart>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-12">
            <h4>Most Reported Issues</h4>

            <p-table [value]="issues" stripedRows>
                <ng-template pTemplate="header">
                  <tr>
                    <th>Count</th>
                    <th>Issue Name</th>
                    <th>Priority</th>
                    <th>Status</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-issue>
                  <tr>
                    <td>{{ issue.issueCount }}</td>
                    <td>{{ issue.name }}</td>
                    <td>{{ issue.priority }}</td>
                    <td>{{ issue.status }}</td>
                  </tr>
                </ng-template>
              </p-table>
              
              

          </div>
          
    </div>
</div>