p-chart canvas {
    width: 100% !important;
    height: 230px !important;
  }

  

  .doughnutChartDiv, .barChartDiv {
    background-color: #2A2A72;
    color: white;
    border-radius: 10px;
    padding: 20px;
  }


  .container .row {
    display: flex;
    justify-content: space-between;
  }


  /* PrimeNG Table Styling */
.p-table {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    background-color: #007bff !important;
  }

  .p-table table {
    background-color: white !important;
  }

  .p-table thead th {
    background-color: #007bff !important; /* ✅ Blue header */
    color: white !important;
  }

  .p-table tbody tr {
    background-color: #f8f9fa !important; /* ✅ Light gray rows */
  }
  
  th {
    background-color: #007bff;
    color: white;
    text-align: center !important;
    padding: 10px;
    vertical-align: center !important;
  }
  
  td {
    padding: 10px;
    text-align: center !important;
    vertical-align: center !important;
  }
  
  /* Priority Colors */
  .high-priority {
    color: red;
    font-weight: bold;
  }
  
  .medium-priority {
    color: orange;
    font-weight: bold;
  }
  
  .low-priority {
    color: green;
    font-weight: bold;
  }

  