@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import "primeicons/primeicons.css";


$main-Color: #ffa400;
$secondary-Color:#2a2a72;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lexend", sans-serif;
}

.p-datatable-tbody > tr > td {
    background-color: white;
    color: black;
  }

  .p-datatable-thead > tr > th {
    background: $secondary-Color !important;
    color: white;
    font-weight: 1000;
    text-align: center !important;
  }

  .p-datatable-tbody > tr > td {
    border-width: 0 0  2px 0 !important;
    border-color: $secondary-Color !important;
    text-align: center !important;
  }
  