@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import "primeicons/primeicons.css";


$main-Color: #ffa400;
$secondary-Color:#2a2a72;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lexend", sans-serif;
}

