<div class="sidebar">
    <div class="logo"> <a routerLink="/home/overview" routerLinkActive="active"><img src="assets/civix_testWithLessShadow.png" alt=""></a> </div>
    <ul class="nav-links">
        <li><a routerLink="/home/overview" routerLinkActive="active"> <i class="pi pi-list"></i> Overview</a></li>
        <li><a routerLink="/home/statistics" routerLinkActive="active"> <i class="pi pi-chart-bar"></i> Statistics</a></li>
        <li>  <a routerLink="/home/active-issues" routerLinkActive="active" #rla="routerLinkActive">
            <i class="pi" [ngClass]="rla.isActive ? 'pi-flag-fill' : 'pi-flag'"></i>
            Active Issues
        </a></li>
        <li><a routerLink="/home/fixing-teams" routerLinkActive="active"> <i class="pi pi-address-book"></i> Fixing Teams</a></li>
    </ul>
    <ul class="extra-links">
        <li><a href="#"> <i class="pi pi-cog"></i>Settings</a></li>
        <li><a href="#"> <i class="pi pi-shield"></i>Security</a></li>

    </ul>
</div>
