<div class="sidebar">
    <div class="logo">Civix</div>
    <ul class="nav-links">
        <li><a routerLink="/home/overview" routerLinkActive="active"> Overview</a></li>
        <li><a routerLink="/home/statistics" routerLinkActive="active"> Statistics</a></li>
        <li><a routerLink="/home/active-issues" routerLinkActive="active"> Active Issues</a></li>
        <li><a routerLink="/home/fixing-teams" routerLinkActive="active"> Fixing Teams</a></li>
    </ul>
    <ul class="extra-links">
        <li><a href="#">Settings</a></li>
        <li><a href="#">Security</a></li>

    </ul>
</div>
